*, html,body {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: Sans-Serif;
}
.conteiner1 {
  display: flex; 
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(114, 162, 250, 0.945);
  transition: .5s;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #2c3338;
  font-size: 20px;
  padding: 15px;
  position: fixed;
  box-shadow: 1px 2px 1px 2px rgba(0,0,0,.5);
  z-index: 999;
}
.brand {
  display: flex;
  margin-left: -45px;
  flex-direction: row;
  text-transform: capitalize;
  padding: 40px; 
  font-size: 40px;
  letter-spacing: 2px;
}
.brand:hover {
  letter-spacing: 2px;
  transition: all  .3s ease-in-out;
}
.firstname {
  font-size: 15px;
  color: #2d3ab3;
  font-weight: bold;
}
.lastname {
  color: #8b1396;
  padding-left: 4px;
  font-weight: bold;
  font-size: 15px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  margin-right: 55px;
}
.navigation li {
  list-style: none;
  padding: 5px;
}
.navigation li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff; 
  transform: capitalize;
}
.navigation img {
  width: 25px;
  height: 25px;
  border-radius: 50px; 
  margin-left: 10px;
}
.navigation img:hover {
  width: 65px;
  height: 65px;
  border-radius: 65px; 
  transition: all  .3s ease-in-out;
}
.navigation li a:hover {
  color: rgb(220, 20, 20);
  transition: all  .3s ease-in-out;
}
#active {
  background-color: crimson;
  padding: 15px;
  border-radius: 2px;
}
#active:hover{
  color: white !important;
  background-color: salmon;
  transition: all  .3s ease-in-out;
}
#profile1 {
  width: 80%;
  height: 50vh;
  background-color: #b32d2e;
  margin-top: -980px;
}
#profile1 h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: Courier New;
  font-size: 15px;
  justify-content: center;
}
#profile1 span {
  font-family: Segoe UI;
  font-size: 15px;
}
.profile1value {
  margin-top: 30px;
}
#profile {
  width: 80%;
  height: 50vh;
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.589);
  margin-top: -980px;
  position: fixed;
  z-index: 1;
}
#profile h2 {
  margin-top: 30px;
 font-family: sans-serif;
  font-size: 15px;
  justify-content: center;
}
#profile span {
  font-family: Segoe UI;
  font-size: 15px;
}
#project {
  width: 80%;
  height: 50vh;
  border-radius: 5px; 
  background-color: #135e96;
  margin-top: -980px;
  position: fixed;
}
.projectvalue {
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
.projectvalue a {
  text-decoration: none;
  padding: 20px;
  
}
.projectvalue a h2 {
  color: #f0f0f1; 
  font-weight: bold;
  
}
.open {
  margin-top: 80px !important;
  transition: .5s;
}
.open1 {
  margin-top: 80px !important;
  transition-delay: .5s;
}
@media screen and (min-width: 980px){
  .conteiner1 {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: salmon;
  transition: .5s;
}
  .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #2c3338;
  font-size: 20px;
  padding: 15px;
  position: fixed;
  box-shadow: 1px 2px 1px 2px rgba(0,0,0,.5);
  z-index: 999;
  margin-left: 0px;
}
.brand {
  display: flex;
  margin-left: -45px;
  flex-direction: row;
  text-transform: capitalize;
  padding: 40px; 
  font-size: 100px;
  letter-spacing: 8px;
}
.brand:hover {
  letter-spacing: 2px;
  transition: all  .3s ease-in-out;
}
.firstname {
  font-size: 35px;
  color: #b32d2e;
  font-weight: bold;
}
.lastname {
  color: #135e96;
  padding-left: 4px;
  font-weight: bold;
  font-size: 35px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -200px;
  margin-right: 30px;
}
.navigation li {
  list-style: none;
  padding: 5px;
}
.navigation li a {
  text-decoration: none;
  font-size: 40px;
  color: #fff; 
  transform: capitalize;
  margin-right: 30px;
}
.navigation img {
  width: 60px;
  height: 60px;
  border-radius: 50px; 
  margin-left: 10px;
}
.navigation img:hover {
  width: 65px;
  height: 65px;
  border-radius: 65px; 
  transition: all  .3s ease-in-out;
}
.navigation li a:hover {
  color: crimson;
  transition: all  .3s ease-in-out;
}
#active {
  background-color: crimson;
  padding: 25px;
  border-radius: 2px;
}
#active:hover{
  color: white !important;
  background-color: salmon;
  transition: all  .3s ease-in-out;
}
#profile1 {
  width: 80%;
  height: 50vh;
  background-color: #b32d2e;
  margin-top: -2680px;
}
#profile1 h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: Courier New;
  font-size: 45px;
  justify-content: center;
}
#profile1 span {
  font-family: Segoe UI;
  font-size: 45px;
}
.profile1value {
  margin-top: 45px;
}
#profile {
  width: 80%;
  height: 50vh;
  border-radius: 5px; 
  background-color: #fff;
  margin-top: -2680px;
  position: fixed;
  z-index: 1;
}
#profile h2 {
  margin-top: 80px;
 font-family: Courier New;
  font-size: 45px;
  justify-content: center;
}
#profile span {
  font-family: Segoe UI;
  font-size: 45px;
}
#project {
  width: 80%;
  height: 50vh;
  border-radius: 5px; 
  background-color: #135e96;
  margin-top: -2680px;
  position: fixed;
}
.projectvalue {
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
.projectvalue a {
  text-decoration: none;
  padding: 50px;
  font-size: 45px; 
  
}
.projectvalue a h2 {
  color: #f0f0f1; 
  font-weight: bold;
  
}
.open {
  margin-top: 80px !important;
  transition: .5s;
}
 .open1 {
  margin-top: 80px !important;
  transition-delay: .5s;
}